.post {
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 35px;
    padding-top: 30px;
    clear: both;
  }
  
  .post h2 {
    margin-bottom: 10px;
  }
  
  .post p {
    margin-bottom: 15px;
  }
  
  .byline {
    font-size: 14px;
    color: #888;
  }